<h1>about go/</h1>
<br>
<b>go/</b> allows easy access to urls and files. For instance, instead of constantly wondering where AJ keeps the sales commissions folder, you can simply type in <b>go/commissions</b> and it will redirect you to the correct spot. And when AJ decides to move the folder, he can simply change the underlying url, and you can still go to <b>go/commissions</b> and it will go to the correct (updated) place. You can even create your own to share with the team.
<br><br>
<b>go/</b> isn't anything world-changing, but after having used it for quite some time it's difficult to go back to a world where I have to remember where files are. now we don't have to, simply take a guess and see if what you're looking for already exists. And if not, create it!
<br><br>
<img src="http://giphygifs.s3.amazonaws.com/media/jPJz9s6VAqLLi/giphy.gif">
<br><br>
<%= link_to 'Home', '/', :class => "btn btn-outline-primary"%>